*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1920px;
    width: 100%;
    border: 1px solid #00C9FF ;
    background-color: #C2C2C24D;
}
.north {
    max-width: 1642px;
    width: 100%;
    margin: auto;
    margin-top: 54px;
    margin-bottom: 55px;
}
.carlson {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-ul {
    display: flex;
    gap: 48px;
    color: #000000E5;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
}
button {
    background-color: #29B24E;;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    padding-top:13px;
    padding-bottom: 13px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 12px;
    border: none;
}


.sector {
    display: flex;
    max-width: 1642px;
    width: 100%;
    margin: auto;
}
.western {
    max-width: 395px;
    width: 100%;
    margin: auto;
    background-color: #F8F8F8;
    border: 1px solid #00C9FF;
    border-radius: 24px;
}
.eastern {
    max-width: 1227px;
    width: 100%;
    margin: auto;
}


.sectorium {
    max-width: 1642px;
    width: 100%;
    margin: auto;
}
.stend {
    border: 1px solid #00C9FF ;
    background-color: #F8F8F8;
    border-radius: 24px;
}
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.tora {
    margin: auto;
    padding: 16px 16px;
}
.ctnamanga {
    margin-left: 20px;
}
.ctKajiado {
    margin-left: 20px;
}
.price {
    margin-top: 15px;
    margin-bottom: 13px;
    margin-left: 260px;    
}
.lacon {
    max-width: 363px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.describe {
    display: flex;
    gap: 63px;
    color: #000000;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
}









.foot {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: #29B24E;
    border-radius: 25px;
    margin-top: 120px;
}
.foot-top {
    max-width: 1642px;
    width: 100%;
    margin: auto;
}
.south {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1642px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}
.navbar-end {
    display: flex;
    gap: 48px;
    color: #FFFFFF;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
}
.line {
    align-items: center;
    max-width: 1642px;
    width: 100%;
}
.foot-end {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1642px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 40px;
}
.mail {
    color: #FFFFFF;
}